*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: royalblue;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question{
    width: max-content;
    height: max-content;
    padding: 15px;
    background-color: rgb(78, 204, 139);
    display: none;
    border-radius: 15px;
    color: white;
}

#question1{
    display: block;
}

#question2{
    display: block;
}

#question3{
    display: block;
}

#question4{
    display: block;
}